@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 70px;
  padding: 16px;
  margin: 0 3px;
  border: -4px solid rgb(247, 11, 11);
  border-radius: 100px;
  cursor: pointer;
  background-color: rgb(115, 255, 0);
  color: rgb(240, 12, 12);
  font-size: x-large;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 304px;
  font-size: 30px;
    margin: 0;
    padding: 13px 0px;
    border: 2px solid rgb(50, 246, 16);
    border-radius: 5px;
    
}
.text-center{
  background-color: #ae07ef;
  color: rgb(1, 0, 0);
  border: 4px solid rgb(99, 158, 47);
  }
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: 4px;
  padding: 4px;
  height: 80px;
  width: 200px; */